################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MLSampleApp/MLSampleApp/.vs/MLSampleApp/FileContentIndex/eea5097f-4aad-4a0a-81d9-141029cfcf95.vsidx
